.App {
  text-align: left;
  background: rgb(71 60 138);
  color: rgb(0, 0, 0);
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Homepage {
  height: 100vh;
}

.option {
  display: flex;
  justify-content: center;

  width: 8%;
  margin: auto;
  gap: 10px;
}

.option button {
  background-color: white;
  color: #000;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
}

.option button:hover {
  background-color: white;
}

.h1 {
  display: flex;
  justify-content: center;
  color: white;
}


.magnifier {
  position: absolute !important;
  left: 0px !important;
  top: 0px !important;
  height: 100% !important;
}

.magnifier img {
  object-fit: inherit !important;
}

.scroll_comman {
  width: 40px;
  height: 40px;
  background: #fff;
  line-height: 40px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll_comman:hover {
  box-shadow: 0px 0px 8px #ddd;
}

.scroll_comman svg {
  line-height: 40px;
  padding: 0px 1px 6px 5px;
}

.prev_icon {
  position: fixed;
  left: 19%;
  top: 50%;
}

.next_icon {
  position: fixed;
  right: 22%;
  top: 50%;
}

.pdf_rel input {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.pdf_rel {
  width: 80%;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
}

.doc_area {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.content_show_hide {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 100%;
  margin: 20px 0px;
  overflow: auto;
}

.docSelected {
  width: 65%;
  height: 75vh;
  /* margin: 8px auto; */
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.bg_white {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 8px;
  padding: 10px;
  background: rgb(255, 255, 255);
  text-align: justify;
  transform: scale(1);
}

@media only screen and (max-width: 1024px) {
  .docSelected {}

  .next_icon {
    right: 21%;
  }
}